<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>

    <div ia=app>
        <h1>{{ titulo }}</h1>

        <!-- Se o usuário estiver autenticado, exibir mensagem de boas-vindas -- > -->

        <div v-if="autenticado">
            <h2>Bem-vindo, {{ usuario.nome }}! </h2>
            <button @click="logout">Sair</button>
        </div>

        <div v-else>
            <h2>Faça login</h2>
            <form @submit.prevent="login">
                <label for="username">Usuário:</label>
                <input type="text" id="username" v-model="" username required> <br> <br>

                <label for="password">Senha:</label>
                <input type="password" id="password" v-model="password" required> <br><br>

                <button type="submit">Entrar</button>
            </form>

            <!--  Mensagem de erro exibida com v-show -- > -->
            <p v-show="erro" style="color: red;">Nome de usuário ou senha incorretos. </p>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    
    <script>
        var app = new Vue({
    el: '#app',
    data: {
        titulo: 'Aplicação de Login',
        autenticado: false,
        usuario: {
            nome: 'João'
        },
            username: "",
            password: "",
            erro: false

        },
        methods: {
            login() {
                // Simulação de login
                if (this.username === 'usuario' && this.password === 'senha') {
                    this.autenticado = true;
                    this.erro = false;
                } else {
                    this.erro = true;
                }
            },
            logout() {
                this.autenticado = false;
                this.username = '';
                this.password = '';
            }
        },

    })
        

    </script>

</body>

</html>